body {
    padding: 0px;
}

h1 {
    color: rgb(29, 29, 31);
    margin: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(29, 54, 44);
    margin: 48px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

h3 {
    color: rgb(29, 29, 31);
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
}

.header_first {
    justify-content: center;
    align-items: end;
    margin: 0px;
    padding-top: 32px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }

.nav {
    position: relative;
    text-align: end;
}
 

.nav__link {
    color: rgb(29, 29, 31);
    margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 32px;
    text-decoration-line: none;
}

.nav_link_current {
    color:  rgb(29, 54, 44);
    margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 32px;
    font-weight: bold;
    text-decoration-line: none;
}

.add_btn {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    stroke-width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(29, 29, 31);
    background-color: rgb(234, 248, 244);
    border-radius: 8px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small {
    font-size: 6px;
    color: white;
}

.logo {
    height: 200px;
    width: 200px;
}

.home {
    height: 100px;
    width: 100px;
}

.header_second {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.topic_card {
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 80%;
    background-color: rgb(238, 239, 241);
    border-radius: 12px;
    border-width: 0px;
    align-content: left;
    text-align: left;
}

.topic_card:hover {
    background-color: rgb(234, 248, 244);
    border-width: 0px;
}

.date {
    color:  rgb(128, 129, 132);
    size: 12px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.video-container iframe {
    width: 100%;
    height: 450px;
}